*{
  margin: 0;
  box-sizing: border-box;
}
:root{
  --secondary-color:#008600;
  --ast-global-color-0: #0170B9;
  --ast-global-color-1: #3a3a3a;
  --ast-global-color-2: #3a3a3a;
  --ast-global-color-3: #4B4F58;
  --ast-global-color-4: #F5F5F5;
  --ast-global-color-5: #FFFFFF;
  --ast-global-color-6: #F2F5F7;
  --ast-global-color-7: #424242;
  --ast-global-color-8: #000000;
}